body {
    background-image: url("../images/black_thread_@2X.png");
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    margin: auto;
    background-color: #ffffff;
    }

a {
    text-decoration: none;
    color: #aaa;
}

main {
    padding: 10% 0 0 0;
}

footer {
border-top: 8px solid #4aaaa5;
height: 50px;
background: #656565;
text-align: center;
color: #c6ccc6;
font-size: 10px;
position: relative;
}

h2 {
    font-size: 30px;
}

.content {
    /* This is what makes my footer sticky */
    min-height: calc(100vh - 70px);
    margin-bottom: 20px
}

.headerCont {
    height: 70px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.nameTab {
    color: #ffffff;
    float: left;
    padding: auto;
    width: 25%;
    height: 70px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.links {
    float: right;
    width: 25%;
    height: 70px;
    display: flex;
    align-items: center;
}
.linkTab {
    width: 33.33%;
    text-align: right;
    /* justify-self: center; */
}

.mainCont {
    width: 900px;
    height: 900px;
    padding: 20px 30px;
    text-align: center;
    background-color: white;
    border: #eee solid 1px;
    margin: 40px auto;
}

.cr {
    position: absolute;
    bottom: 5px;
    left: 48%;
}

.aboutMe {
    color: #49a9a5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
}