body {
    background-image: url("../images/white-waves.png");
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    border-bottom: solid 2px #cccccc;
    margin: auto;
    background-color: #ffffff;
    }

a {
    text-decoration: none;
    color: #aaa;
}

main {
    padding: 10% 0 0 0;
}

footer {
border-top: 8px solid #4aaaa5;
height: 50px;
background: #666666;
text-align: center;
color: #c6ccc6;
font-size: 10px;
position: relative;
}


.content {
    /* This is what makes my footer sticky */
    min-height: calc(100vh - 70px);
    margin-bottom: 20px
}

.headerCont {
    height: 70px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
    
}

.nameTab {
    color: #ffffff;
    float: left;
    width: 25%;
    letter-spacing: 0.025em;
    height: 70px;
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

div.h2 {
    padding-top: 18px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.links {
    float: right;
    width: 25%;
    height: 70px;
    display: flex;
    align-items: center;
}
.linkTab {
    width: 33.33%;
    text-align: right;
    /* justify-self: center; */
}

.mainCont {
    width: 900px;
    height: 100%;
    padding: 10px 30px 40px 30px;
    /* text-align: center; */
    background-color: white;
    border: #eee solid 1px;
    margin: 40px auto;
}

.cr {
    position: absolute;
    bottom: 5px;
    left: 48%;
}

.mainh2 {
    font-weight: bold;
    color: #49a9a5;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
    display: block;
    padding-bottom: 30px;
    border-bottom: #dddddd solid 2px;
}

.bioPic {
    width: 246.75px;
    height: 213px;
}